@import url(https://fonts.googleapis.com/css?family=Nunito);.card {
  margin-bottom: 30px;
  border: 0;
  -webkit-box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
          box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
}

